p{
    color: red;
}

div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;

}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    background-image: url("../res/clay-banks-oO6Gm16Cqcg-unsplash.jpg");
    background-size: 100%;
}

 .container-2{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    width: 20%;
    align-items: center;
    justify-content: center;
    background:white; color:grey; opacity: 0.8;
    border-radius: 1%;  
    padding: 1%;
} 
